menu "LCD"

config TEXT_LCD
	bool "Support for Hitachi HD44780 like text LCD screens over GPIO"
	depends on GPIO && JS
	default y

config ILI93XX
	bool

config ILI9328
	bool "Support for the ILI9328 LCD controller"
	depends on GPIO && GRAPHICS
	default y if RDK_IDM
	select ILI93XX
	help
		Access is via a 16 bit GPIO interface for data

config DOGS102X6
	bool "Support for EA DOGS-102x6 LCD controllers"
	depends on GPIO && SPI && GRAPHICS
	default y if MSP430F5529_EXP

config SDL_SCREEN
	bool "LCD emulation via the SDL library"
	depends on UNIX && GRAPHICS
	default y if PLATFORM_EMULATION

endmenu
