menuconfig JS
	bool "JS support"
	default y

if JS

config JS_COMPILER
        bool "Run-time Compilation Support (Experimental)"
        depends on ARM
        default n

config MAX_FUNCTION_CALL_ARGS
	int "Maximum Number of Arguments Allowed on a Function Call"
	range 1 20
	default 11
	help
		In general there is no need to tinker with this value.
		Change it in case you need to send a large amount of 
		arguments to a function.

config OBJ_DOC
	bool "Provide object documentation at run time"
	default y if UNIX

source "js/builtins/Kconfig"
source "js/modules/Kconfig"

endif
