menu "File Systems"

config FAT_FS
	bool "FAT support"
	depends on PLAT_HAS_BLK || MMC
	default y

config LOCAL_FS
	bool "Local file system"
	depends on UNIX
	default y
	help
		Local file system access.
		Only Unix for now.
	
config BUILTIN_FS
	bool "Builtin FS"
	default y

config BUILTIN_FS_EXTERNAL_PATH
	string "Builtin FS External Files Path"
	depends on BUILTIN_FS

endmenu
