language: c
before_install:
 - sudo add-apt-repository -y ppa:terry.guo/gcc-arm-embedded
 - sudo apt-get update
 - sudo apt-get install gperf
 - sudo apt-get install valgrind
 - sudo apt-get install gcc-arm-none-eabi
 - sudo pip install cpp-coveralls
before_script:
 - arm-none-eabi-gcc --version
compiler:
  - gcc
env:
  - DEFCONFIG=unix_sim_tests_defconfig
  - DEFCONFIG=unix_sim_unit_tests_defconfig UNIT_TESTS=1
  - DEFCONFIG=frdm_kl25z_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=lm4f120xl_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=tm4c123g_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=tm4c1294_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=cc3200_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=lm3s6918_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=lm3s6965_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=stm32f3discovery_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=stm32f4discovery_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=stm32f429idiscovery_gcc_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
  - DEFCONFIG=stm32_hy_24_defconfig SKIP_TESTS=1 CROSS_COMPILE=arm-none-eabi-
script: make $DEFCONFIG && make V=1 && cd tests && ./run_tests.sh && ./leak_check.sh && cd ..
after_success:
  - ./scripts/coveralls.sh
