mainmenu "TinkerPal Configuration"

config TINKERPAL
	bool
	default y

source "platform/Kconfig"
source "apps/Kconfig"
source "main/Kconfig"
config JS
	bool "JS support"
	default y

if JS
source "js/Kconfig"
endif
config NET
	bool "Networking Support"
	default y

source "drivers/Kconfig"
