mainmenu "TinkerPal Configuration"

config TINKERPAL
	bool
	default y

source "boards/Kconfig"
source "apps/Kconfig"
source "js/Kconfig"
source "net/Kconfig"
source "usb/Kconfig"

config GRAPHICS
	bool "Graphics support"
	default y

source "drivers/Kconfig"
source "platform/Kconfig"
source "mem/Kconfig"
