mainmenu "TinkerPal Configuration"

config TINKERPAL
	bool
	default y

source "platform/Kconfig"
source "apps/Kconfig"
source "main/Kconfig"
config JS
	bool "JS support"
	default y

if JS
source "js/Kconfig"
endif
config NET
	bool "Networking Support"
	default y

if NET
source "net/Kconfig"
endif

config GRAPHICS
	bool "Graphics support"
	default y

if GRAPHICS
source "graphics/Kconfig"
endif

source "drivers/Kconfig"
