menu "Networking"

config ENC28J60
	bool "ENC28J60 SPI Ethernet Support"
	depends on SPI && GPIO
	select ETHERIF
	default y

config ENC28J60_PHY_ACCESS
	bool "ENC28J60 PHY Configuration Access"
	depends on ENC28J60
	default y
	help
		On some platforms, PHY access does not seem to work 
		(probably SPI timing issues). This allows disabling it

config ESP8266
	bool "ESP8266 Wi-Fi Support"
	depends on PLAT_HAS_SERIAL
	default y

endmenu
