config AVR8
        bool
	select PLAT_HAS_GCC
	select PLAT_HAS_GPIO
	select PLAT_HAS_MALLOC
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL
        select PLAT_TICKS
	select 16_BIT

config ATMEGA328
        bool
        select AVR8
