choice

prompt "Board"

config PLATFORM_EMULATION
	bool "Unix Platform Emulation"
	select UNIX
	select PLAT_HAS_SERIAL
	help
		Simulator using STDIO as console and PTY as UART
		Uses Posix API, tested on Linux & Cygwin

config EK_LM4F120XL
	bool "TI LM4F120XL (Stellaris Launchpad)"
	select LM4F120XL

config EK_LM3S6965
	bool "TI EK-LM3S6965"
	select LM3S6965

config RDK_IDM
	bool "TI RDK-IDM (LM3S6918)"
	select LM3S6918
	select ILI93XX_BITBANG

config EK_TM4C123GXL
	bool "TI EK-TM4C123GXL (Tiva C Launchpad)"
	select TM4C123G

config EK_TM4C1294XL
	bool "TI EK-TM4C1294XL (Tiva C Connected Launchpad)"
	select TM4C1294

config CC3200_LAUNCHXL
	bool "CC3200-LAUNCHXL (CC3200 Launchpad)"
	select CC3200

config STM32F3DISCOVERY
	bool "ST Micro STM32F3 Discovery board"
	select STM32F303XX

config STM32F4DISCOVERY
	bool "ST Micro STM32F4 Discovery board"
	select STM32F407XX

config STM32F429IDISCOVERY
	bool "ST Micro STM32F429I Discovery board"
	select STM32F429XX

config STM32_ARMJISHU_28
	bool "ARMJishu 28'' STM32F103RBT based board"
	select STM32F103RBT

config STM32_HY_24
	bool "HY 24'' STM32F103VET6 based board"
	select STM32F103VET6

config FRDM_KL25Z
	bool "Freescale FRDM-KL25Z"
	select FRDM

config MSP430F5529_EXP
	bool "TI MSP430F5529 Experimenter Board"
	select MSP430F5529

config MSP430F5529_LAUNCHPAD
	bool "TI MSP430F5529 Launchpad"
	select MSP430F5529

config X86_PLATFORM_EMULATION
	bool "X86 Platform Emulation"
	select X86
	select PLAT_HAS_SERIAL
	help
		Bare metal x86

endchoice
