menu "Platform"

config ARM
	bool

config PLAT_HAS_GPIO
	bool

config PLAT_HAS_GPIO_INTERRUPTS
	bool

config PLAT_HAS_SERIAL
	bool

config PLAT_HAS_SPI
	bool

config PLAT_HAS_EMBEDDED_ETH
	bool

config BUFFERED_SERIAL
	bool
	depends on PLAT_HAS_SERIAL

config PLAT_HAS_BLK
	bool

config 16_BIT
	bool

config STELLARIS
	bool
	select ARM
	select PLAT_HAS_GCC
	select PLAT_HAS_TI_CCS5
	select PLAT_HAS_GPIO
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL
	select PLAT_HAS_SPI
	select PLAT_HAS_MALLOC

config STELLARIS_ETH
	bool
	depends on STELLARIS && PLAT_HAS_EMBEDDED_ETH && NET
	select ETHERIF
	default y

config FRDM
	bool
	select ARM
	select PLAT_HAS_GCC
	select PLAT_HAS_MALLOC
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL

config STM32
	bool
	select ARM
	select PLAT_HAS_GCC
	select PLAT_HAS_MALLOC
	select PLAT_HAS_GPIO
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL

config MSP430
	bool
	select PLAT_HAS_TI_CCS5
	select PLAT_HAS_MALLOC
	select 16_BIT

config UNIX
	bool
	select PLAT_HAS_MALLOC
	select PLAT_HAS_GCC

config MSP430F5529
	bool
	select MSP430
	select PLAT_HAS_GPIO
	select PLAT_HAS_SERIAL
	select PLAT_HAS_SPI
	select PLAT_HAS_GPIO_INTERRUPTS
	select BUFFERED_SERIAL

config LM3S6918
	bool
	select STELLARIS
	select PLAT_HAS_EMBEDDED_ETH

config LM3S6965
	bool
	select STELLARIS
	select PLAT_HAS_EMBEDDED_ETH

config LM4F120XL
	bool
	select STELLARIS
	select PLAT_HAS_GPIO_INTERRUPTS

if UNIX
source "platform/unix/Kconfig"
endif

if MSP430
source "platform/msp430/Kconfig"
endif

source "platform/Kconfig.toolchain"

endmenu
