menu "Platform"

config PLAT_HAS_GPIO
	bool

config PLAT_HAS_GPIO_INTERRUPTS
	bool

config PLAT_HAS_SERIAL
	bool

config PLAT_HAS_SPI
	bool

config PLAT_HAS_I2C
	bool

config PLAT_HAS_EMBEDDED_ETH
	bool

config PLAT_HAS_PWM
	bool

config BUFFERED_SERIAL
	bool
	depends on PLAT_HAS_SERIAL

config PLAT_HAS_BLK
	bool

config PLAT_HAS_USB
	bool

config 16_BIT
	bool

config PLAT_TICKS
        bool

source "platform/arm/Kconfig"
source "platform/msp430/Kconfig"
source "platform/unix/Kconfig"
source "platform/x86/Kconfig"
source "platform/avr8/Kconfig"
source "platform/esp8266/Kconfig"

source "platform/Kconfig.toolchain"

endmenu
