menuconfig USB
	bool "USB Support"
	default y
        depends on PLAT_HAS_USB

if USB

config USB_DEVICE
	bool "USB Device Support"
	default y

config USB_CDC_ACM
	bool "USB CDC ACM Device Support"
        depends on USB_DEVICE
	default y

config USB_DEVICE_QUIRK_SET_ADDR_IMM
        bool

endif
