menu "Drivers"

config SPI
	bool "SPI support"
	depends on PLAT_HAS_SPI
	default y

config GPIO
	bool "GPIO support"
	depends on PLAT_HAS_GPIO
	default y

config MMC
	bool "MMC over SPI support"
	depends on SPI && GPIO
	default y

config I2C
	bool "I2C support"
	depends on PLAT_HAS_I2C
	default y

source "drivers/fs/Kconfig"
source "drivers/lcd/Kconfig"

if NET
source "drivers/net/Kconfig"
endif

endmenu
