./Makefile.in
./aclocal.m4
./docs/Makefile.in
./frontends/Makefile.in
./frontends/conf/Makefile.in
./frontends/gconf/Makefile.in
./frontends/mconf/Makefile.in
./frontends/nconf/Makefile.in
./frontends/qconf/Makefile.in
./libs/Makefile.in
./libs/images/Makefile.in
./libs/lxdialog/Makefile.in
./libs/parser/Makefile.in
./scripts/.autostuff/scripts/compile
./scripts/.autostuff/scripts/config.guess
./scripts/.autostuff/scripts/config.sub
./scripts/.autostuff/scripts/depcomp
./scripts/.autostuff/scripts/install-sh
./scripts/.autostuff/scripts/ltmain.sh
./scripts/.autostuff/scripts/missing
./scripts/.autostuff/scripts/ylwrap
./scripts/Makefile.in
./utils/Makefile.in
./configure
./scripts/.autostuff/config.h.in~
./scripts/.autostuff/m4/
