config TI
        bool

config STELLARIS
	bool
	select ARM
	select TI
	select PLAT_HAS_GCC
	select PLAT_HAS_TI_CCS5
	select PLAT_HAS_GPIO
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL
	select PLAT_HAS_SPI
	select PLAT_HAS_MALLOC

config TIVA_C
	bool
	select ARM
	select TI
	select PLAT_HAS_GCC
	select PLAT_HAS_GPIO
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL
	select PLAT_HAS_SPI
	select PLAT_HAS_MALLOC

config CC3200
	bool
	select ARM
	select TI
	select PLAT_HAS_GCC
	select PLAT_HAS_SERIAL
	select BUFFERED_SERIAL
	select PLAT_HAS_MALLOC

config STELLARIS_ETH
	bool
	depends on STELLARIS && PLAT_HAS_EMBEDDED_ETH && NET
	select ETHERIF
	default y

config TIVA_C_EMAC
	bool
	depends on TIVA_C && PLAT_HAS_EMBEDDED_ETH && NET
	select ETHERIF
	default y

config TI_I2C_WAIT_FOR_BUSY_WAR
	bool
	
config LM3S6918
	bool
	select STELLARIS
	select PLAT_HAS_EMBEDDED_ETH

config LM3S6965
	bool
	select STELLARIS
	select PLAT_HAS_PWM
	select PLAT_HAS_EMBEDDED_ETH

config LM4F120XL
	bool
	select STELLARIS
	select PLAT_HAS_GPIO_INTERRUPTS
	select PLAT_HAS_I2C

config TM4C123G
	bool
	select TIVA_C
	select PLAT_HAS_I2C
	select PLAT_HAS_GPIO_INTERRUPTS

config TM4C1294
	bool
	select TIVA_C
	select PLAT_HAS_PWM
	select PLAT_HAS_EMBEDDED_ETH
	select PLAT_HAS_I2C
	select TI_I2C_WAIT_FOR_BUSY_WAR
