menu "Application"

config CLI
	bool

choice
	prompt "Application"

config APP_JSCONSOLE
	bool "JavaScript Command Line Interface (CLI) Application"
	depends on JS
	select CLI

config APP_ECHO_CONSOLE
	bool "Echo Command Line Interface (CLI) Application"
	select CLI

config APP_FILE_LOADER
	bool "Application accepting a source file via command line"
	depends on JS && VFS

config APP_STATIC_FILE
	bool "Static File Application"
	depends on JS

config APP_NET_TEST
	bool "Net test"
	depends on ETHERNET
	select CLI

config APP_DUMMY
	bool "Dummy. Does nothing. Used for testing"

endchoice

config APP_STATIC_FILE_PATH
	string "Static File Path"
	depends on APP_STATIC_FILE

config CLI_BUFFER_SIZE
	int "CLI Buffer Size"
	depends on CLI
	default 512

config CLI_SYNTAX_HIGHLIGHTING
	bool "CLI Syntax highlighting"
	depends on CLI
	default y

endmenu
