menu "Application"

config HAVE_CMDLINE
	bool

config CLI
	bool

choice
	prompt "Application"

config APP_JSCONSOLE
	bool "JavaScript Command Line Interface (CLI) Application"
	depends on JS
	select CLI

config APP_ECHO_CONSOLE
	bool "Echo Command Line Interface (CLI) Application"
	select CLI

config APP_FILE_LOADER
	bool "Application accepting a source file via command line"
	depends on HAVE_CMDLINE && JS && VFS

config APP_STATIC_FILE
	bool "Static File Application"
	depends on JS

config APP_DUMMY
	bool "Dummy. Does nothing. Used for testing"

endchoice

config APP_STATIC_FILE_PATH
	string "Static File Path"
	depends on APP_STATIC_FILE

config CLI_HISTORY_BUFFER_SIZE
	int "History Buffer Size"
	depends on CLI
	default 1536

config CLI_BUFFER_SIZE
	int "CLI Buffer Size"
	depends on CLI
	default 512

config APP_JSCONSOLE_SYNTAX_HIGHLIGHTING
	bool "JavaScript Syntax highlighting in JS Command Line application"
	depends on APP_JSCONSOLE && JS
	default y

endmenu
