menuconfig MODULES
	bool "Modules support"
	depends on VFS
	default y

if MODULES

config MODULE_ASSERT
	bool "Assert module"
	default y

config MODULE_THERMAL_PRINTER
	bool "Thermal Printer module"
	default y
        help
                Module for a mini thermal printer (e.g. https://learn.adafruit.com/mini-thermal-receipt-printer/)

config MODULE_MAX7219
	bool "MAX7219 8-Digit LED Display Driver"

endif
