menu "Networking"

config ETHERIF
	bool
	default n

config PACKET
	bool
	default n

config ETHERNET
	bool "Ethernet"
	depends on ETHERIF
	select PACKET
	default y
	help
		Support for Ethernet protocols handling

config ARP
	bool "ARP"
	depends on ETHERNET
	default y
	help
		Support for the Address Resolution Protocol (ARP)

config IPV4
	bool "IPv4"
	depends on ETHERNET
	default y
	help
		Support for IPv4

config UDP
	bool "UDP"
	depends on IPV4
	default y
	help
		Support for UDP

config NET_DEBUG
	bool "Network Debugging"
	default n

endmenu
