menuconfig NET
	bool "Networking Support"
	default y

if NET

config ETHERIF
	bool
	select ETHERNET
	default n

config PACKET
	bool
	default n

config ETHERNET
	bool "Ethernet"
	select PACKET
        depends on ETHERIF
	default y
	help
		Support for Ethernet protocols handling

config ARP
	bool "ARP"
	depends on ETHERNET
	default y
	help
		Support for the Address Resolution Protocol (ARP)

config IPV4
	bool "IPv4"
	depends on ETHERNET
	default y
	help
		Support for IPv4

config ICMP
	bool "ICMP"
	depends on IPV4
	default y
	help
		Support for ICMP

config UDP
	bool "UDP"
	depends on IPV4
	default y
	help
		Support for UDP

config DHCP_CLIENT
	bool "DHCP Client"
	depends on UDP
	default y
	help
		Support for obtaining an IP address using Dynamic Host
		Configuration Protocol (DHCP)

config NET_DEBUG
	bool "Network Debugging"
	default n

endif
